{% extends 'menu.html' %}

{% block body %}

<form method="POST" action="{{ url_for('connect') }}">
    <table>
        <tr>
            <th>USER ID.</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>DATE OF BIRTH</th>
            <th>GENDER</th>
        </tr>
        
            <tr>
                <td><label name="id">{{ info[0] }}</label></td>
                <td><label name="name">{{ info[1] }}</label></td>
                <td><label name="email">{{ info[2] }}</label></td>
                <td><label name="dob">{{ info[4] }}</label></td>
                <td><label name="gender">{{ info[5] }}</label></td>
            </tr>
        
    </table>
    <input type="hidden" name="userid" value='{{ info[0] }}' >
    <button type="submit" >Go</button>
   
</form>
<a href="{{ url_for('match') }}"><button onclick="nextItem()">Next</button></a>
<a href="{{ url_for('artistPick') }}"><button onclick="nextItem()">Select Another Artist</button></a>

{% endblock %}